.sidenav{
height: 100%;
width: 180px;
position:fixed;
z-index: 1;
top: 0;
left:0;
background-color: #bb2c44;
overflow-x: hidden;
padding-top:20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #fff8f8;
    display: block;
  }
  a:link {
    text-decoration: none;
    line-height: 50px;
  }
  a:hover{
    text-decoration:underline;
  }
  .main{
  
padding: 5%;
    margin-left: 170px;
   
    font-size:x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
  }
  #name{
    font-size: 40px;
    
    background-color: rgb(255, 255, 255);
    border-right:2px solid #bb2c44 ;
    font-weight: lighter;
  }
  .about {
    margin-left: 170px;
    padding: 4%;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    line-height: 29px;
  
  }
 .contact{
  margin-left:170px ;
  padding: 3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 29px;
  font-size: 20px;
 }
 .icons{
  background-color: rgb(4, 4, 5);
  padding: 1%;
 }
 .fab{
  font-size: 60px;
  color:white;
 }
 .fas{
  font-size: 60px;
color: white; 
}
.icmar{
  margin-left: 400px;
}
